@import "../../../styles/settings.scss";

.container {
  margin-top: 2rem;
}

.track {
  background:  $rangeSlider-background;
  height: 6px;
  border: 1px solid $rangeSlider-track-border;
  border-radius: 3px;
}

.activeTrack {
  background-color: $color-deepblack;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.inactiveTrack {
  background-color: $rangeSlider-background;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $rangeSlider-background;
  border: 3px solid $rangeSlider-thumb-border;
  box-shadow: 0px 2px 6px $rangeSlider-thumb-boxShadow;
}

.rangeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.rangeValues {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid $rangeSlider-border-range;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40%;
  padding: 5px 0 5px 0;
}

.filterButton {
  margin-left: 10px;
  background-color: $rangeSlider-thumb-border;
}
