$base-padding: 24px;

// Global style about animation for hover buttons
$animation-time: 10s;
$animation-time-short: $animation-time * 0.8; // Adjust the shorter duration as needed

// Define CSS variables for animation times
:root {
  --animation-time-background: $animation-time;
  --animation-time-color: $animation-time; // Change to -short if needed diffrent times
}

// Mixin for hover effects with customizable animation times
%hover-effect {
  transition-property: background-color, color;
  transition-duration: var(--animation-time-background), var(--animation-time-color);
}

* {
  @extend %hover-effect;
}

//Colors - DO NOT USE COLOR-... VAR IN OTHER FILES!!!!!!!!!

$color-primary: #d58e32;
$color-grey-1: #e2e2e2;
$color-grey-2: #d8d8d8;
$color-grey-3: #b6b6b6;
$color-grey-4: #a8a8a8;
$color-grey-5: #434343;
$color-grey-6: #363636;
$color-light-blue-1: #f4f5f7;
$color-light-blue-2: #e0e3ed;
$color-light: #fff;
$color-dark: #2a2a2a;
$color-deepblack: #000;

// Text \\
$text-dark: $color-dark;
$text-light: $color-light;
$text-grey-light: $color-grey-2;

//  Common \\ 
// Baner
$baner-backgorund: $color-dark;
$baner-text-color: $color-light;
$baner-text-procent: $color-primary;
$baner-text-color-home: $color-grey-3;

//Button
$button-primary: $color-primary;
$button-bg: $color-dark;
$button-border: $color-dark;
$button-price-bg: $color-light;
$button-hover: #2a2a2a;

//CartProduct
$cart-header-bg: $color-grey-1;
$cart-primary: $color-primary;

//ComparedProduct
$compared-product-gray: $color-grey-1;

//ComparedProductBox
$compared-product-gray-4: $color-grey-4;

//FeatureBox
$feature-box-primary: $color-primary;
$feature-box-bg: $color-light;
$feature-box-border: $color-grey-3;

//Product Box
$product-box-primary: $color-primary;
$product-box-bg: $color-light;
$product-box-accent-bg: $color-dark;
$product-box-border-light: $color-grey-1;
$product-box-border-dark: $color-dark;
$product-box-photo-bg: $color-light-blue-1;

//ProductReview
$product-review-border-main: $color-dark;
$product-review-active-tab: $color-primary;

//PromotedBaner
$promoted-dot: $color-grey-1;
$promoted-title-bg: $color-dark;

//Quantity
$cart-header-bg: $color-grey-1;

//RangeSlider
$rangeSlider-background: $color-light;
$rangeSlider-track-border: $color-grey-4;
$rangeSlider-activetrack-background: $color-deepblack;
$rangeSlider-thumb-border: $color-primary;
$rangeSlider-thumb-boxShadow: $color-dark;
$rangeSlider-border-range: $color-grey-3;

// Features \\
// Brands
$brands-grey: $color-grey-2;
$brands-button: $color-dark;
$brands-button-arrow: $color-light;

//ChatBot
$chatBot-text: $color-light;
$chatBot-primary: $color-primary;
$chatBot-border: $color-grey-4;
$chatBot-background: $color-grey-3;

//Comments
$comments-dot-background: $color-grey-4;
$comments-dotActive-background: $color-primary;
$comments-h2-text: $color-grey-6;

//CurrencyChange
$header-primary: $color-primary;
$header-topbar-bg: $color-grey-5;

//FeatureBoxes

//FilterByCategory
$filter-by-category-dark: $color-dark;
$filter-by-category-main: $color-primary;
$filter-by-category-light: $color-light;

//FilterByColors
$colorRed: red;
$color-deepblack: black;
$colorYellow: yellow;
$colorBlue: blue;
$colorPink: fuchsia;
$colorGreen: lightgreen;

//FilterByPrice
$fliterByPrice-background: $color-deepblack;

//FilterBySize
$filter-dark: $color-dark;
$filter-main: $color-primary;
$filter-light: $color-light;

// FURNITURE GALLERY
$furniture-gallery-light: $color-light;
$furniture-gallery-dark: $color-dark;
$furniture-gallery-gray-light: $color-grey-1;
$furniture-gallery-gray-medium-dark: $color-grey-2;
$furniture-gallery-gray-dark: $color-grey-4;
$furniture-gallery-main: $color-primary;

// LatestBlog
$latest-blog-light: $color-light;
$latest-blog-dark: $color-dark;
$latest-blog-gray-light: $color-grey-1;
$latest-blog-gray-dark: $color-grey-4;
$latest-blog-main: $color-primary;

//New Furniture
$new-furniture-primary: $color-primary;
$new-furniture-bg: $color-light;
$new-furniture-border: $color-grey-1;

//ProductData
$productDate-primary: $color-primary;
$productDate-oldPrice-text: $color-grey-4;
$productDate-light: $color-light;
$productDate-button-border: $color-deepblack;

//ProductSearch
$form-border: $color-dark;
$form-primary: $color-primary;
$form-bg: $color-light;
$text-light: $color-light;
$menu-bar-primary: $color-primary;

//ProductStars
$productStar-blackStar: $color-deepblack; 
$productStar-goldStar: #d58e32;
$productStar-redStar: $colorRed;

//Promoted
$promoted-primary: $color-primary;
$promoted-title-bg: $color-dark;
$promoted-dot: $color-grey-1;
$promoted-countdown-bg: $color-dark;

//Promotions
$header-topbar-bg: $color-grey-5;
$header-primary: $color-primary;

//Swipable


// Layout \\
//CompanyClaim
$header-bg: $color-grey-6;
$text-grey-light: $color-grey-2;
$header-primary: $color-primary;
$text-light: $color-light;
$header-cart-counter: $color-light-blue-2;


//Footer
$footer-primary: $color-primary;
$footer-claim-bg: $color-dark;
$footer-bg: $color-grey-6;
$footer-text: $color-grey-4; 

//Header
$header-primary: $color-primary;
$header-topbar-bg: $color-grey-5;
$header-bg: $color-grey-6;
$header-cart-counter: $color-light-blue-2;

//MainLayout

//MenuBar
$menu-bar-primary: $color-primary;
$menu-bar-bg: $color-light;

//TopBar
$header-topbar-bg: $color-grey-5;
$text-light: $color-light;
$header-primary: $color-primary;

// Utils \\
//Loader
$loader-border: $color-deepblack;
$loader-border-top: $colorBlue;

// Views \\
//AboutPage

//Blog
$blog-light: $color-light;
$blog-dark: $color-deepblack;
$blog-border: $color-grey-2;
$blog-widget: $color-grey-6;

//Cart
$cart-header-bg: $color-grey-1;
$cart-primary: $color-primary;
$text-dark: $color-dark;
$cart-light: $color-light;
//ConditionsPage

//Filters
$filter-dark: $color-dark;
$filter-main: $color-primary;
$filter-light: $color-light;

//HomePage

//LoginPage
$loginPage-background: $color-grey-4;
$loginPage-light: $color-light;
$loginPage-primary: $color-primary;
$loginPage-border: $color-grey-3;
$loader-gradient-a: rgba(213,142,50,1);
$loader-gradient-b: rgba(236,228,56,1);

//OnlineSupPage

//PolicyPage

//ProductList
$productList-upSection: $color-grey-6;
$productList-light: $color-light;
$productList-primary: $color-primary;
$productList-positionHome: $color-grey-2;
//ProductPage

//QuickViewPopup

//RegisterPage
$registerPage-deep-dark: $color-deepblack;
$registerPage-dark: $color-dark;
$registerPage-light: $color-light;
$registerPage-primary: $color-primary;
//SearchPage


//Form
$form-primary: $color-primary;
$form-bg: $color-light;
$form-border: $color-dark;


$compared-product-primary: $color-primary;
$compared-product-bg: $color-light;