.root {
  margin-top: 50px;
    .container {
      margin: 50px, 10px, 20px, 60px;
        .sidebar {
        
            flex: 4;
            padding: 50px;
            background-color: #ffffff;
            .widget {
                margin-bottom: 20px;
                border-bottom: 1px solid #ccc;
                padding-bottom: 20px;
            }
          }

    }
}
