@import "../../../styles/settings.scss";

.stars {
  a {
    text-decoration: none;
  }
}

.blackStars {
  color: $productStar-blackStar;
}

.goldStars {
  color: $productStar-goldStar;
}

.hoverStars{
  color: $productStar-redStar;
}
