@import "../../../styles/settings.scss";

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 150px 0;
  background-color: $loginPage-background;
}

.loginPage__form {
  display: flex;
  flex-direction: column;

  width: 500px;
  padding: 50px;
  border-radius: 5px;
  border-top: 3px solid $loginPage-primary;
  background-color: $loginPage-light;

  & label {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
  }

  & input {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid $loginPage-border;
  }

  & p {
    font-size: 12px;
  }

  & button {
    width: 40%;
    padding: 10px 0;
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: $loginPage-primary;
    background: linear-gradient(0deg, $loader-gradient-a 0%, $loader-gradient-b 100%);
  }
}

@media (max-width: 620px) {
  .loginPage__form {
    width: 80%;

    & button {
      width: 60%;
    }
  }
}
