.root{
  margin: 35px;
  .container {
display: flex;
    .layout {
      .posts {
        flex: 9;
        padding: 20px;
        background-color: #ffffff;
        .post {
          position: relative;
          margin-bottom: 30px;
          .postImage {
            position: relative;
            width: 100%;
            max-height: 400px;
            overflow: hidden;
          }
          .postImage img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          .postOverlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .postInfo {
              display: flex;
              align-items: center;
              margin-top: auto;
            }
            .postInfo p {
              margin: 0 10px 0 0;

            }
            .postButton a {
              color: #fff;
              text-decoration: none;
            }
          }
          .postContent {
            margin-top: 20px;
            .postContent h1 {
              margin-top: 0;
            }

            .postContent p {
              margin-bottom: 10px;
            }

          }
        }
      }
      .columns {
        display: flex;
        flex-direction: column;
        .blogs {
          display: flex;
          flex-direction: row;
          .blog {
              flex: 1;
              padding: 10px;
          }
        }
      }
    }
  }
}