@import "../../../styles/settings.scss";

.root {
    margin-top: 80px;
    .latestBlog {
        margin-bottom: 50px;

        .header {
            position: relative;
            h4 {
                font-size: 22px;
                color: $latest-blog-main;
            }
        }
        .header::before {
            content: '';
            position: absolute;
            height: 4px;
            top: 40px;
            background-color: $latest-blog-main;
            width: 5%;
        }
        .header::after {
            content: '';
            position: absolute;
            height: 4px;
            top: 40px;
            background-color: $latest-blog-gray-light;
            width: 80%;
            left: 5%;
        }
        .dots {
            position: relative;
            top: 2px;
            left: 88%;
        }
        .dots::before {
            position: absolute;
            content: '';
            background-color: $latest-blog-main;
            border-radius: 50%;
            height: 13px;
            width: 13px;
        }
        .dots::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: $latest-blog-gray-light;
            height: 13px;
            width: 13px;
            left: 3%;
        }

    }
    .blogs {
        display: flex;
        flex-direction: row;
    
    }
}