.title {
    margin: 50px 0;
}
.subtitle {
    margin: 10px 20px 10px 0;
}

.image {
    object-fit: cover;
    left: 0;
    width: 100%;
    margin: 20px 0;
}
.published {
    margin: 20px 0;

}

.content {
    line-height: 2.5;
    margin: 10px 0 50px 0;
}